.custom-video-player {
  position: relative;
  width: 500px;
}

.controls {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
}

#play-pause-btn {
  font-size: 24px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

#progress-bar {
  width: 100%;
}
